@font-face {
    font-family: MontserratRegular;
    src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: MontserratMedium;
    src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: MontserratSemiBold;
    src: url("./fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: MontserratBold;
    src: url("./fonts/Montserrat-Bold.ttf");
}

* {
    font-family: MontserratMedium, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 40px;
}

header {
    
}

main {

}

footer {
    
}