@font-face {
  font-family: MontserratRegular;
  src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: MontserratMedium;
  src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: MontserratSemiBold;
  src: url("./fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: MontserratBold;
  src: url("./fonts/Montserrat-Bold.ttf");
}

* {
  font-family: MontserratMedium, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  font-size: 3.5vw;
  align-content: center;
  margin: 0.5% 0 0.5% 0;
 }

h2 {
  font-size: 2.75vw;
  align-content: center;
  margin: 0.5% 0 0.5% 0;
}

h3 {
  font-size: 1.75vw;
  align-content: center;
  margin: 0.5% 0 0.5% 0;
}

hr {
  width: 50vw;
}

body {
  position: relative;
}

main {
  width: 80%;
  height: 101%;
  margin: 1% auto 1%;
}

/* Formular Urlaubsantrag */
.formurlaub {
  border: 2px solid #1f1fff;
  border-radius: 8px;
  min-height: 83vh;
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.formurlaubtop {
  height: 40%;
  max-width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formurlaubname,
.formurlaubzeit,
.formurlaubver,
.formfeedbackname,
.formfeedbackzeit {
  height: 9.5vh;
  width: 60%;
  align-content: center;
  padding-left: 3%;
}

.formurlaubname label,
.formfeedbackname label {
  text-align: left;
  float: left;
  width: 21%;
  font-size: 1.5vw;
}

.formurlaubname input,
.formfeedbackname input {
  width: 70%;
  float: left;
  font-size: 1.5vw;
}

.formurlaubzeitraum,
.formfeedbackzeitraum {
  display: inline;
  height: 100%;
  width: 60%;
}

.formurlaubzeit label,
.formfeedbackzeit label {
  text-align: left;
  float: left;
  width: 21%;
  font-size: 1.5vw;
}

.formurlaubzeit input,
.formfeedbackzeit input {
  width: 35%;
  float: left;
  font-size: 1.5vw;
}

.formurlaubver label {
  text-align: left;
  float: left;
  width: 21%;
  font-size: 1.5vw;
}

.formurlaubver input {
  width: 70%;
  float: left;
  font-size: 1.5vw;
}

.formurlaubbem {
  margin-top: 20px;
  height: 40%;
  flex-grow: 1;
}

#urlaubbemerkung {
  width: 60%;
  height: 100px;
  resize: none;
}

.formsenden {
  flex-grow: 1;
  height: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.formsenden > input {
  font-family: MontserratBold, sans-serif;
  font-size: 0.8rem;
  color: #ffffff;
  background-color: #1f1fff;
  padding: 10px 30px 10px 30px;
  border: 1px solid black;
  border-radius: 5px;
}

/* Formular Feedback */
.formfeedback {
  border: 2px solid #1f1fff;
  border-radius: 8px;
  min-height: 83vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.formfeedback h1 {
  font-size: 3vw;
}
.formfeedback h2 {
  font-size: 2vw;
}

.formfeedbacktop {
  height: 60%;
  max-width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formfeedbackkom {
  height: 30%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 0 1% 0;
}
.formfeedbackpers{
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 70%;
}

.formfeedpersTop,
.formfeedpersBottom {
  display: flex;
  flex-direction: row;
  height: 50%;
}
.checkboxAbteilungsleiter,
.checkboxGf{
  width: 60%;
}

.checkboxTeilnehmer,
.checkboxKollegen {
  width: 40%;
}

.checkboxAbteilungsleiter label,
.checkboxGf label,
.checkboxTeilnehmer label,
.checkboxKollegen label{
  display: inline-block;
  width: 55%;
  text-align: left;
  font-size: 1.25vw;
}

.checkboxTeilnehmer label,
.checkboxKollegen label {
  width: 45%;
  font-size: 1.25vw;
}

.checkboxAbteilungsleiter input,
.checkboxGf input,
.checkboxTeilnehmer input,
.checkboxKollegen input{
  height: 3.5vh;
  width: 3.5vw;
}

.formfeedbackgrund {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formfeedbackgrundradio {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 1% 0 1% 0;
  align-items: center;
}

.radioUrlaub,
.radioWeiterbildung,
.radioPersoenlich {
  display: flex;
  flex-direction: column;
  width: 33.3%;
}

.radioUrlaub label,
.radioWeiterbildung label,
.radioPersoenlich label{
  font-size: 1.25vw;
}


.formfeedbackbem {
  height: 20%;
  flex-grow: 1;
}

#feedbackbemerkung {
  width: 50%;
  height: 80px;
  resize: none;
}
